<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cart Example
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge [@cartBadge]="cartBadgeState">{{itemsInCart.length}}</ion-badge>
        <ion-icon [@cartBadge]="cartBadgeState" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngFor="let item of items">

		<ion-item>
			<ion-avatar slot="start">
				<img src="http://placehold.it/75">
			</ion-avatar>
			<h2>Waterproof swimwear</h2>
			<p>New this season</p>
		</ion-item>

		<img src="https://images.unsplash.com/photo-1440756427076-7480f7eab5bd?dpr=2&auto=format&fit=crop&w=1080&h=725&q=80&cs=tinysrgb&crop=">

		<ion-card-content>
			<p>This stylish one-piece swimsuit uses cutting edge technology to keep you dry. It uses the latest photon accelerated evaporation material, allowing the swimsuit to dry out
		with just 6 hours of direct sunlight.</p>
		</ion-card-content>

		<div class="cart-buttons">
			<ion-button *ngIf="item.quantityInCart" [@addButton]="item.addButtonState" (@addButton.done)="addToCartFinished(item)" color="light" size="small">
				{{item.quantityInCart}}
			</ion-button>
			<ion-button (click)="addToCart(item)" size="small">
				<ion-icon slot="start" name="add"></ion-icon>
				Add to Cart
			</ion-button>
		</div>

	</ion-card>

</ion-content>
